<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>day10</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Location1Servlet</display-name>
    <servlet-name>Location1Servlet</servlet-name>
    <servlet-class>com.itheima.a_response.a_location.Location1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Location1Servlet</servlet-name>
    <url-pattern>/Location1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Location2Servlet</display-name>
    <servlet-name>Location2Servlet</servlet-name>
    <servlet-class>com.itheima.a_response.a_location.Location2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Location2Servlet</servlet-name>
    <url-pattern>/Location2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RefreshServlet</display-name>
    <servlet-name>RefreshServlet</servlet-name>
    <servlet-class>com.itheima.a_response.b_refresh.RefreshServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RefreshServlet</servlet-name>
    <url-pattern>/Refresh</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrintServlet</display-name>
    <servlet-name>PrintServlet</servlet-name>
    <servlet-class>com.itheima.a_response.b_body.PrintServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrintServlet</servlet-name>
    <url-pattern>/Print</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadServlet</display-name>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>com.itheima.a_response.e_refresh.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/dowload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RowServlet</display-name>
    <servlet-name>RowServlet</servlet-name>
    <servlet-class>com.itheima.b_request.row.RowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RowServlet</servlet-name>
    <url-pattern>/Row</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HeaderServlet</display-name>
    <servlet-name>HeaderServlet</servlet-name>
    <servlet-class>com.itheima.b_request.head.HeaderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeaderServlet</servlet-name>
    <url-pattern>/Header</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dis1Servlet</display-name>
    <servlet-name>Dis1Servlet</servlet-name>
    <servlet-class>com.itheima.b_request.c_zhuanfa.Dis1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dis1Servlet</servlet-name>
    <url-pattern>/dis1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dis2Servlet</display-name>
    <servlet-name>Dis2Servlet</servlet-name>
    <servlet-class>com.itheima.b_request.c_zhuanfa.Dis2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dis2Servlet</servlet-name>
    <url-pattern>/dis2</url-pattern>
  </servlet-mapping>
</web-app>